langchain
langchain-core
langchain-community


langchain-groq
langchain-huggingface


faiss-cpu
sentence-transformers


streamlit
gradio


pandas
numpy


fastapi
uvicorn


python-dotenv


tqdm
requests


jupyter
